*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    }

    body {
        overflow: hidden;
    }
    
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: linear-gradient(350deg,#ff00,#f00);
        background-size: cover;
    }

.card {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(150deg,#ff00,#f00);

}

.card img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
    height: 400px;
    transition: 0.2s;
}

.card:hover img {
    left: 80%;
    height: 500px;
    visibility: hidden;
}

.card .content{
    position: relative;
    width: 50%;
    left: 20%;
    opacity: 0;
    visibility: hidden;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
}

.card:hover  .content {
    left: 0%;
    opacity: 1;
    visibility: visible;
}

.card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
    padding: 20px;
}

.card .content p {
    color: #fff;
    padding: 20px;
}

.card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 10px;
    background: #fff;
    margin-top: 10px;
    text-decoration: none;
    margin-top: 20px;
    align-items: center;

}

@media (max-width:991px)
{
    .card {
        position: relative;
        width: auto;
        max-width: 600px;
        align-items: flex-start;
    }
    .card:hover {
        height: 600px;
    }
    .card:hover img {
        left: 50%;
        height:350px;
    }
    .card .content {
        width: 100%;
        padding: 40px;

    }
}

@media (max-width:350px){
    .card .content {
        padding: 100px;
        align-items: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .card img {
       width: 100%;
        bottom: 0;
        left: 50%;

    }
    .card:hover img {
        height:300px;
        visibility: hidden;
    }

    .card:hover  .content {
        width: 100%;
        opacity: 1;
        visibility: visible;
    }

    .card .content{
        visibility: hidden;

    }

    .card {
        max-width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
    }

    .card .content p {
        width: 100%;
        padding: 30px;
        justify-content: center;

    }
    
    
}